*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif!important;
    background-color: rgba(93, 192, 225, 0.93);
    color: white;
}

h1 {
    text-align: center !important;
    margin-top: 10px !important; 
    padding-top: 10px !important;
    font-size: 20pt;
    font-weight: bolder;
    

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.header-content img.image {
    width: 93%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.header-content .text-content {
    width: 100%;
    
}

.text-content h1 {
    margin-bottom: 10px;
}

.text-content p {
    text-align: left;
    line-height: 1.6;
    height: 75%;
    width: 100% !important;
    
}


.add-item-section, .inventory-section, .stock-out-section, .product-categories-section {
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button #fetch-categories-btn {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

button:disabled #fetch-categories-btn{
    cursor: not-allowed;
    background-color: rgb(35, 156, 53);
}

#inventory-table {
    width: 100%;
    border-collapse: collapse;
}

#inventory-table th, #inventory-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.product, .category {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.product button {
    margin-top: 10px;
}

.product-name{
    padding: 5px;

    
}
.product-image{
    width: 30%;
    height: auto;
    border-radius: 10px;
    display: flex;
    
}